<% flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>

<h2>User info</h2>
<% if @book.image.attached? %>
  <%= image_tag current_user.get_profile_image(100,100) %>
<% else %>
  <%= image_tag 'no_image.jpg' %>
<% end %>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>
<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

<%= render 'books/list', book: @book %>

<h2>Book detail</h2>


<% @books.each do |book| %>
  <% if @book.image.attached? %>
    <%= image_tag current_user.get_profile_image(10,10) %>
  <% else %>
    <%= image_tag 'no_image.jpg' %>
  <% end %>

  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>
  <%= @user.name %>
<% end %>