<h1>User info</h1>
<% if @book.image.attached? %>
  <%= image_tag current_user.get_profile_image(100,100) %>
<% else %>
  <%= image_tag 'no_image.jpg' %>
<% end %>
  <h3>name<%= @user.name %></h3>
  <h3>introduction<%= @user.introduction %></h3>
  <% if @user == User.find(params[:id]) %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

<%= render 'books/list', book: @book %>

<h1>Book detail</h1>


<% @books.each do |book| %>
  <% if @book.image.attached? %>
    <%= image_tag current_user.get_profile_image(10,10) %>
  <% else %>
    <%= image_tag 'no_image.jpg' %>
  <% end %>

  <%= link_to book.title, book_path(book.id) %>
  <%= @book.body %>
  <%= @user.name %>
<% end %>