<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= image_tag @user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>

<%= render 'list', book: @book %>

  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(50,50), class: "attachment user profile_image fallback" %>
                <br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to @books.title, book_path(@books.id) %></td>
            <td><%= @books.body %></td>

  <% if @books.user == current_user %>
    <td>
      <%= link_to edit_book_path(@books) do %>
        <i class="btn btn-sm btn-success edit_book_53254">Edit</i>
      <% end %>
    </td>
    <td>
      <%= link_to book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？" do %>
         <i class="btn btn-sm btn-danger destroy_book_53254">Destroy</i>
      <% end %>
    </td>
  <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
</main>
