<h1>User info</h1>
<% @books.each do |book| %>
  <%= image_tag book.get_image %>
  <%= image_tag 'sample-author1.jpg' %>
<% end %>

<%= render 'list', books: @books %>

<h1>Books</h1>

<%= link_to "book.title", books_path(params[:id]) %>

<% if @book.user == current_user %>
  <%= link_to "Destroy", book_path(@book), method: :delete %>
<% end %>
