<h1>User info</h1>
<% if @book.image.attached? %>
  <%= image_tag current_user.get_profile_image(100,100) %>
<% else %>
  <%= image_tag 'no_image.jpg' %>
<% end %>

<%= render 'list', book: @book %>

<h1>Book detail</h1>
<%= link_to @books.title, books_path(@books.id) %>
<%= @books.body %>

<% if @books.user == current_user %>
  <%= link_to "Edit", edit_book_path(@books) %>
  <%= link_to "Destroy", book_path(@books), method: :delete %>
<% end %>
